*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.width{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo{
  padding: 25px;
  justify-content: space-between;
}
.logo-ipt{
  position: relative;
}
.logo-ipt input{
  width: 280px;
  height: 30px;
  margin: 5px 0;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(237, 237, 237);
}
.logo-ipt img{
  width: 20px;
  height: 18px;
  position: absolute;
  top: 12px;
  right: 10px;
}
.header-nav{
  background-color: rgba(0,0,0, .8);
  height: 60px;
}
.header-nav a{
  color: #fff;
}
.header-nav li{
  width: 12.5%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(83, 81, 81);
}
.header-nav li:last-child{
  border-right:none;
}
main a{
  color: #333;
}
.banner img{
  width: 100%;
}
.news,.recruit,.history{
  height: 250px;
}
.company .news{
  width: 640px;
  margin-right: 18px;
}
.company .news li{
  margin: 5px 0;
  display: flex; 
  justify-content: space-between;
}
.company li a{
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
 h3{
  padding: 30px 0;
  font-weight: normal;
  font-size: 20px;
}
.company a,span{
  font-size: 14px;
}
.company span{
  display: flex;
  color: rgb(170, 170, 170);
}
.company li a::before{
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: -6px 6px;
  border-radius: 50%;
  background-color: rgb(126,126,126);
  vertical-align: 8px;
  
}
.history,.recruit{
  width: 265px;
  margin: 0 3px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #eee;
}
.history a{
  display: flex;
  width: 170px;
  margin-bottom: 30px;
}
.history span{
  display: block;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recruit{
  background-color: rgb(250,250,250);
}
.recruit .pic{
  height: 118px;
  position: relative;
}
.recruit img{
  position: absolute;
}
.recruit .horse{
  bottom: 0;
  right: -20px;
}
.recruit .more{
  left: 0;
  top: 25px;
}
.market{
  display: block;
}
.market ul{
  display: flex;
  justify-content: space-between;
}
.market img{
  width: 260px;
  margin-bottom: 10px;
}
.market a{
  font-size: 14px;
  display: flex;
  width: 260px;
}
.market{
  height: 300px;
  margin-bottom: 30px;
}
.content{
  height: 260px;
  color: #666;
  background-color: rgb(221, 221, 221);
  justify-content: space-between;
}
.content .width{
  justify-content: space-between;
}
.content p{
  height: 40px;
  border-bottom: 1px solid rgb(188, 188, 188);
  display: flex;
  align-items: center;
}
.product,.technology,.map{
  height: 240px;
  margin: 10px 0;
}
.content div li{
 margin: 3px 0;
}
.product li:first-child,.technology li:first-child{
  margin: 20px 0 3px;
}
.product{
  width: 600px;
}
.product div{
  display: flex;
  justify-content: space-between;
}
.product div li{
  width: 140px;
}
.technology ul{
  width: 200px;
}
.map img{
  width: 240px;
}
.other{
  padding: 30px 0;
  justify-content: space-between;
}
.other ul{
  display: flex;
}
.other li{
  color: rgb(170, 170, 170);
  font-size: 14px;
}
