*{
  margin: 0;
  padding: 0;
}
.clear::before,.clear::after{
  content: '';
  display: table;
  clear: both;
}
.container{
  width: 1055px;
  margin: 0 auto;
}
li{
  list-style: none;
  float: left;
}
a{
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
p{
  color: #666;
}
span{
  color: rgb(143, 132, 121);
  font-size: 14px;
}
.nav{
  height: 85px;
}
.nav span{
  display: block;
  width: 42px;
  text-align: center;
  position: absolute;
  top: 37px;
}
.nav .container{
  display: flex;
}
.nav-pic{
  width: 780px;
  height: 80px;
  margin-left: 124px;
  display: flex;
  background-image: url(./images/nav[1].png);
}
.nav-pic > div{
  width: 14%;
}
.nav-pic > div:hover{
  background-image: url(./images/nav-on.png);
}
.nav-pic .two{
  background-position: 14% 0;
}
.nav-pic .three{
  background-position: 31% 0;
}
.nav-pic .four{
  background-position: 50% 0;
}
.nav-pic .five{
  background-position: 67% 0;
}
.nav-pic .six{
  background-position: 83% 0;
}
.nav-pic .seven{
  background-position: 100% 0;
}
.nav ul{
  padding: 10px 0;
}
.nav .search,.nav .user{
  position: relative;
  width: 60px;
  height: 60px;
}
.nav .search img,.nav .user img{
 width: 40px;
}
.nav .search{
  box-sizing: border-box;
  padding: 8px ;
}
.nav .spacer{
  width: 1px;
  height: 40px;
  background-color: rgb(212, 212, 212);
  margin: 10px 15px;
}
.banner-pic{
  width: 1600px;
  margin: 0 auto;
}
.banner .container{
  line-height: 50px;
  position: relative;
}
.banner .container img{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
main{
  padding: 20px 0 0;
}
main .bg{
  background-color: rgb(235, 235, 235);
}
main ul{
  padding: 0 20px;
}
main .left li:nth-child(2){
  margin: 0 25px;
}
main .share li{
  margin: 0 0 20px !important;
}
main .title h3{
  font-weight: normal;
  color: #666;
}
main .title{
  line-height: 60px;
  padding: 0 20px;
  position: relative;
}
main .title span{
  font-size: 12px;
  position: absolute;
  right: 20px;
  top: 0;
}
main .clear li{
  width: 226px;
  height: 275px;
  background-color: #fff;
}
main .pic{
  height: 160px;
  margin-bottom: 15px;
}
main .pic.blue{
  border-bottom: 3px solid rgb(33, 178, 275);
}
main .pic.orange{
  border-bottom: 3px solid orange;
}
main .pic.green{
  border-bottom: 3px solid green;
}
main .pic img{
  width: 226px;
  height: 160px;
}
main .clear a,main .clear span{
  display: block;
  margin: 0 auto;
  width: 200px;
}
main a{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.share li{
  width: 740px !important;
  box-sizing: border-box;
  height: 130px !important;
  padding: 20px;
  position: relative;
}
.share li a{
  width: 500px !important;
  overflow: visible !important;
}
.share li span{
  margin: 0;
}
.share .box{
  display: inline-block;
}
.share li img{
  width: 120px;
  height: 85px;
  margin-right: 15px;
}
.share .icon{
  width: 105px;
  height: 90px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}
.share .icon img{
  position: absolute;
  top: -5px;
  left: 0;
}
.content{
  padding: 0 20px;
}
.best .branch{
  width: 350px;
  display: inline-block;
}
.best .branch.left{
  margin-right: 30px;
}
.best .branch.top{
  margin-bottom: 30px;
}
.best .title-bg{
  height: 24px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.best .title-bg img{
  position: absolute;
}
.best .second img{
  top: -24px;
}
.best .third img{
  top: -49px;
}
.best .last img{
  top: -73px;
}
.best .title-bg span{
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
}
.best .branch > img{
  width: 350px;
  height: 235px;
}
.best .branch a{
  display: block;
  width: 350px;
}
main{
  background-color: rgb(205, 209, 219);
}
main .container{
  display: flex;
  position: relative;
}
main .left{
  width: 780px;
  margin-right: 15px;
}
main .right{
  width: 265px;
  background-color: rgb(251, 248, 250);
}
.other .list{
  margin-bottom: 20px;
}
.other li:first-child{
 position: relative;
 height: 30px;
 margin-bottom: 20px;
}
.other li{
  background-color: rgb(251, 248, 250) !important;
}
.other li:first-child a{
  display: block;
  position: absolute;
  width: 110px;
  line-height: 30px;
  text-align: center;
  border: 1px solid rgb(193, 193, 193);
  overflow: visible;
}
.other li:first-child a:first-child{
  border-top: none; 
  border-left: none;
}
.other li:first-child a:last-child{
  border-bottom: none; 
  border-left: none;
  right: 4px;
  top: 0;
}
.other li:first-child a:first-child::before,
.other li:first-child a:last-child::after{
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgb(193, 193, 193);
  border-radius: 50%;
  position: absolute;
  bottom: -3px;
  z-index: 9;
}
.other li:first-child a:last-child::after{
  right: -3px;
}
.other .pic{
  position: relative;
  height: 160px;
}
.news{
  position: absolute;
  width: 226px;
  height: 26px;
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  left: 0;
}
.other .news span,.other .news a,.other-news a,.other-news span{
  display: block;
  line-height: 26px;
  position: absolute;
}
.other .news span,.other-news span{
  text-align: center;
  width: 20px !important;
  left: 0;
  top: 0;
  color: #fff;
}
.other .news span{
  background-color: red;
}
.other-news span{
  background-color: rgb(143, 203, 47);
  position: absolute;
}
.other .news a,.other-news a{
  width: 190px;
  left: 20px;
  top: 0;
  margin-left: 10px;
}
.other .news a{
  color: #fff;
}
.other-news{
  width: 226px;
  height: 26px;
  margin: 5px auto;
  position: relative;
}
.other .tx{
  padding: 30px 20px 30px;
  border-top: 1px solid rgb(193, 193, 193);
  border-bottom: 1px solid rgb(193, 193, 193);
}
.other .tx .title,.tel .title{
  padding: 0;
}
.other .tx a{
  display: block;
  width: 226px;
  white-space: normal;
}
.other .tel{
  padding: 30px 20px 30px;
  height: 315px;
}
.other .btn-bg{
  box-sizing: border-box;
  width: 200px;
  height: 120px;
  padding: 0 20px;
  margin: 20px auto;
  background-color: rgb(202, 202, 202);
}
.other .btn-bg p{
  font-size: 36px;
}
main .bd div{
  width: 25%;
  height: 3px;
  float: left;
}
main .bd .blue{
  background-color: rgb(43, 180, 233);
}
main .bd .orange{
  background-color: rgb(241, 148, 52);
}
main .bd .green{
  background-color: rgb(129, 177, 51);
}main .bd .red{
  background-color: rgb(247, 82, 13);
}
.code{
  width: 120px;
  height: 160px;
  background-color: rgb(251, 248, 250);
  text-align: center;
  position: absolute;
  right: -140px;
  top: 0;
}
.code img{
  width: 105px;
  height: 105px;
}
