*{
  margin: 0;
  padding: 0;
}
table{
  width: 800px;
  margin: 100px auto ;
  border-collapse: collapse;
}
td{
  width: 100px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
}
.td{
  width: 50px;
}